http://localhost:7992

file_server
templates {
    mime text/html text/plain text/xml
}
root * web
try_files {path}.html {path}

rewrite /reference/* /reference/index.html
rewrite /blog/* /blog/index.html
rewrite /odin/* /odin/index.html
